<div class="d-flex flex-column m-3">
    <h1 class="text-center">Custo de viagem</h1>
    <label for="vlrGasolina" class="mb-2 mt-3">Qual o preço da gasolina?</label>
    <input type="number" id="vlrGasolina" [(ngModel)]="vlrGasolina">
    <label for="kmViagem" class="mb-2 mt-3">Qual a distância da viagem?</label>
    <input type="number" id="kmViagem" [(ngModel)]="kmViagem">
    <label for="autonomia" class="mb-2 mt-3">Qual o consumo do veículo (km/L)?</label>
    <input type="number" id="autonomia" [(ngModel)]="autonomia">
    <div class="w-50 mx-auto">
        <button class="btn w-100 btn-dark mt-3" (click)="calcularGasto()">CALCULAR</button>
    </div>
    <h2 class="text-left mt-5">GASTO DA VIAGEM: R${{gasto}}</h2>
</div>